@charset "UTF-8";
/**
 * CONTENTS
 *
 * SETTINGS
 * Global...............Globally-available variables and config.
 *
 * TOOLS
 * Mixins...............Useful mixins.
 *
 * GENERIC
 * Normalize.css........A level playing field.
 * Box-sizing...........Better default `box-sizing`.
 *
 * BASE
 * Headings.............H1–H6 styles.
 *
 * OBJECTS
 * Wrappers.............Wrapping and constraining elements.
 *
 * COMPONENTS
 * Page-head............The main page header.
 * Page-foot............The main page footer.
 * Buttons..............Button elements.
 *
 * TRUMPS
 * Text.................Text helpers.
 */
/*------------------------------------*\
  #SETTINGS
\*------------------------------------*/
/*------------------------------------*\
  #GENERIC
\*------------------------------------*/
.grid-container-2-col {
  display: grid;
  grid-template-columns: 50% 50%;
  row-gap: 3rem;
}

.col1 {
  grid-column-start: 1;
}

.col2 {
  grid-column-start: 2;
}

.row1 {
  grid-row-start: 1;
}

.col1-2 {
  grid-column-start: 1;
  grid-column-end: 3;
}

.row2 {
  grid-row-start: 2;
}

.row3 {
  grid-row-start: 3;
}

.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}

.flex-align-end {
  justify-content: end;
  align-content: flex-end;
}

.flex-center {
  justify-content: center;
  align-content: center;
}

.flex-align-self-center {
  align-self: center;
}

.padding-1 {
  padding: 1rem;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

/*------------------------------------*\
  #BODY
\*------------------------------------*/
body, .body_education, .body_cv {
  background-color: #f2f2f2;
  padding: 0;
  margin: 0;
  margin-right: 24px;
}

section {
  margin-bottom: 20px;
  /* Justera detta värde enligt önskat avstånd */
  padding: 10px;
  /* Om du vill lägga till fyllnad inuti varje avsnitt */
}

/*------------------------------------*\
  #TEXT BASE
\*------------------------------------*/
.text-montserrat, .project_button, p, li, h4, h3 {
  font-family: Montserrat, Arial, sans-serif;
  font-weight: normal;
}

.text-croissant, .hello_cv, h2, h1 {
  font-family: croissant one, serif;
  font-weight: normal;
}

/*------------------------------------*\
  #HEADERS
\*------------------------------------*/
/* Ragna H1 */
h1 {
  color: black;
  font-size: 5.1875rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  /*   // Om skärmbredden är mindre än 650 pixlar
  font-size: 30px;
  // Om skärmbredden är åtminstone 650 pixlar
  @media (min-width: $device_large) {
    // Sätt en mindre textstorlek så att texten får plats.
  font-size: 81px;
  } */
}
@media (max-width: 850px) {
  h1 {
    font-size: 40px;
    word-break: normal;
  }
}
@media (max-width: 450px) {
  h1 {
    font-size: 30px;
    word-break: normal;
  }
}

/* Ragna H2 */
h2 {
  color: black;
  font-size: 4.0625rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
@media (max-width: 850px) {
  h2 {
    font-size: 1.5rem;
    word-break: normal;
  }
}

/* Ragna Rubrik Body */
h3 {
  color: black;
  font-size: 2.25rem;
  font-style: normal;
  font-weight: 400;
  margin-bottom: 0;
  line-height: 3.125rem; /* 138.889% */
}
@media (max-width: 850px) {
  h3 {
    font-size: 1.5rem;
    word-break: normal;
  }
}

/* Ragna Rubrik Footer */
h4 {
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.5rem; /* 150% */
}

/*------------------------------------*\
  #OTHER TEXT
\*------------------------------------*/
/* Ragna body */
p, li {
  color: black;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.875rem; /* 166.667% */
  word-break: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}
@media (max-width: 850px) {
  p, li {
    font-size: 0.8rem;
    word-break: normal;
  }
}

.cv-duration-text {
  color: #f2f2f2;
}

/* Ragna footer rubrik */
.footer-text-bold, .cv-duration-text {
  font-family: Montserrat;
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.5rem; /* 150% */
}

/* Ragna footer regular */
.footer-text-regular {
  font-family: Montserrat;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5rem; /* 150% */
}

/* Ragna citat */
.citat-text {
  font-family: Montserrat;
  font-size: 3rem;
  font-style: normal;
  font-weight: 400;
  line-height: 4.5rem; /* 150% */
}

.text-right-align {
  text-align: right;
}

.text-left-align {
  text-align: left;
}

/*------------------------------------*\
  #IMAGES
\*------------------------------------*/
.img-scale {
  max-width: 100%;
}

.logo {
  height: 2rem;
}

/*------------------------------------*\
  #PAGE HEADER
\*------------------------------------*/
.header {
  display: flex;
  flex-direction: column;
  background-color: #f2f2f2;
  margin: 0;
}

.image_and_menu_container {
  display: flex;
  flex-direction: row;
}

.header_med_logo {
  display: flex;
  align-items: center;
  padding-left: 5rem;
  height: 3.75rem;
  background-color: #f2f2f2;
}

/* Start-info för bild med text */
.header_bild_med_rubrik {
  position: relative;
  text-align: left;
  width: 100%;
  max-height: 700px;
  /* Ändra textjusteringen till vänster */
}

.header_image_text_small {
  position: relative;
  text-align: left;
  width: 100%;
  height: 30vw;
  /* Ändra textjusteringen till vänster */
}

/* Storlek på bild med text */
.headerbild_index {
  width: 100%;
  max-height: 700px;
  object-fit: cover;
  /* Anpassa bilden till bredden av behållaren */
}

/* Storlek på bild med text */
.header_image_small {
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* Anpassa bilden till bredden av behållaren */
}

/* Stil för rubrik på bild */
.rubriktext_index {
  position: absolute;
  text-align: right;
  /* Placera rubriken på bilden */
  top: 50%;
  /* Justera vertikalt till mitten */
  left: 10px;
  /* Centrera vertikalt */
  transform: translateY(-50%);
  /* Bakgrundsfärg med genomskinlighet */
  color: #fff;
  /* Textfärg */
  padding: 10px;
  /* Lägg till lite utrymme runt texten */
}

/* Stil för rubrik på bild */
.header_text_centered {
  position: absolute;
  text-align: center;
  /* Placera rubriken på bilden */
  top: 0%;
  /* Justera vertikalt till mitten */
  left: 50%;
  /* Centrera vertikalt */
  transform: translateX(-50%);
  /* Bakgrundsfärg med genomskinlighet */
  color: #fff;
  /* Textfärg */
  padding: 10px;
  /* Lägg till lite utrymme runt texten */
}

/*------------------------------------*\
  #NAV MENU
\*------------------------------------*/
.menu_box {
  height: 100%;
  width: 24px;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #111;
  overflow-x: hidden;
  background-color: #f2f2f2;
}

#menu {
  display: flex;
  gap: 10px;
  margin-top: 3.75rem;
  writing-mode: vertical-lr;
  transform: rotate(180deg) translateX(-25%);
}

#menu a {
  font-family: Montserrat;
  color: var(--mrk-brun, #261109);
  text-align: center;
  font-size: 0.9375rem;
  font-style: normal;
  text-transform: uppercase;
  line-height: normal;
  letter-spacing: -0.01406rem;
}

#menu a:hover {
  background-color: rgb(221, 221, 221);
}

.currentPage {
  text-decoration: underline;
  color: red;
}

nav a {
  color: black;
  font-style: normal;
  text-decoration: none;
}

/*------------------------------------*\
  #PROJECTS
\*------------------------------------*/
.project_img {
  width: 75%;
}
@media (min-width: 850px) {
  .project_img {
    width: auto;
    position: relative;
    left: 60%;
    transform: translateX(-50%);
  }
}

.project_button {
  border: none;
  background-color: transparent;
  padding: 0;
  color: black;
  text-decoration: underline;
}

/*------------------------------------*\
  #CV
\*------------------------------------*/
.img-scale {
  width: 100%;
  height: 100%;
  background-color: pink;
  box-shadow: 0px 0px 0 0px #f9f9fb, 0px 0 28px 0 rgba(34, 33, 81, 0.01), 28px 28px 28px 0 rgba(34, 33, 81, 0.25);
  transition: border-radius 0.5s, transform 0.5s;
}

.img-scale:hover {
  border-radius: 50%; /* Turns the square into a circle on hover */
  transform: rotate(360deg); /* Rotates the element 360 degrees on hover */
}

.img-scale:hover {
  border-radius: 50%; /* Turns the square into a circle on hover */
  transform: rotate(360deg); /* Rotates the element 360 degrees on hover */
}

.hello_cv {
  color: #f2f2f2;
  margin: 0;
  padding: 0;
  font-size: 40px;
}
@media (min-width: 450px) {
  .hello_cv {
    font-size: 81px;
  }
}
@media (min-width: 850px) {
  .hello_cv {
    font-size: 221px;
  }
}

.body_cv {
  background-color: #968fa6;
  color: #f2f2f2;
}

/*------------------------------------*\
  # PROJECTS - PINT
\*------------------------------------*/
.img_prj {
  width: 70%;
}

.body_cv p, li {
  color: #f2f2f2;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 166.667% */
}

.body_cv {
  color: #f2f2f2;
  font-size: 36px;
  line-height: normal;
  font-weight: normal;
}

.body_cv h3 {
  color: #f2f2f2;
}

.body_cv h5 {
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px; /* 150% */
}

.internship_header {
  margin: 0;
}

.internship_info {
  margin: 0;
  padding-left: 1rem;
}

/*------------------------------------*\
  #EDUCATION
\*------------------------------------*/
.body_education {
  background-color: #848c73;
}

/*------------------------------------*\
  #FOOTER
\*------------------------------------*/
.footer {
  color: black;
  background-color: #f2f2f2;
  text-align: left;
}

/*# sourceMappingURL=style.css.map */
