/**
 * CONTENTS
 *
 * SETTINGS
 * Global...............Globally-available variables and config.
 *
 * TOOLS
 * Mixins...............Useful mixins.
 *
 * GENERIC
 * Normalize.css........A level playing field.
 * Box-sizing...........Better default `box-sizing`.
 *
 * BASE
 * Headings.............H1–H6 styles.
 *
 * OBJECTS
 * Wrappers.............Wrapping and constraining elements.
 *
 * COMPONENTS
 * Page-head............The main page header.
 * Page-foot............The main page footer.
 * Buttons..............Button elements.
 *
 * TRUMPS
 * Text.................Text helpers.
 */

/*------------------------------------*\
  #SETTINGS
\*------------------------------------*/

$light_background_color: #f2f2f2;
$purple_background_color: #968fa6;
$green_background_color: #848c73;
$header_color: black;
$paragraph_color: black;

$device_medium: 450px;
$device_large: 850px;

/*------------------------------------*\
  #GENERIC
\*------------------------------------*/

.grid-container-2-col {
  display: grid;
  grid-template-columns: 50% 50%;
  row-gap: 3rem;
}

.col1 {
  grid-column-start: 1;
}

.col2 {
  grid-column-start: 2;
}

.row1 {
  grid-row-start: 1;
}

.col1-2 {
  grid-column-start: 1;
  grid-column-end: 3;
}

.row2 {
  grid-row-start: 2;
}

.row3 {
  grid-row-start: 3;
}

.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.padding-1 {
  padding: 1rem;
}

/*------------------------------------*\
  #BODY
\*------------------------------------*/

body {
  background-color: $light_background_color;
  padding: 0;
  margin: 0;
}

section {
  margin-bottom: 20px;
  /* Justera detta värde enligt önskat avstånd */
  padding: 10px;
  /* Om du vill lägga till fyllnad inuti varje avsnitt */
}

/*------------------------------------*\
  #TEXT BASE
\*------------------------------------*/

// Basklass som används för all text med typsnittet Montserrat
.text-montserrat {
  text-align: left;
  font-family: Montserrat, Arial, sans-serif;
  font-weight: normal;
}

.text-croissant {
  text-align: left;
  font-family: croissant one, serif;
  font-weight: normal;
}

/*------------------------------------*\
  #HEADERS
\*------------------------------------*/

/* Ragna H1 */
h1 {
  @extend .text-croissant; // använd alla egenskaper från klassen .text-croissant
  color: $header_color;
  font-size: 5.1875rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  // Mellanstorlek - upp till stora devices
  @media (max-width: $device_large) {
    font-size: 40px;
    word-break: normal;
  }

  // Liten storlek - upp till medium-devices
  @media (max-width: $device_medium) {
    font-size: 30px;
    word-break: normal;
  }

  /*   // Om skärmbredden är mindre än 650 pixlar
  font-size: 30px;
  // Om skärmbredden är åtminstone 650 pixlar
  @media (min-width: $device_large) {
    // Sätt en mindre textstorlek så att texten får plats.
  font-size: 81px;
  } */
}

/* Ragna H2 */
h2 {
  @extend .text-croissant; // använd alla egenskaper från klassen .text-croissant
  color: $header_color;
  font-size: 4.0625rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

    // Mellanstorlek - upp till stora devices
    @media (max-width: $device_large) {
      font-size: 1.5rem;
      word-break: normal;
    }

}

/* Ragna Rubrik Body */
h3 {
  @extend .text-montserrat; // använd alla egenskaper från klassen .text-montserrat
  color: $header_color;
  font-size: 2.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: 3.125rem; /* 138.889% */

  // Mellanstorlek - upp till stora devices
  @media (max-width: $device_large) {
    font-size: 1.5rem;
    word-break: normal;
  }

}

/*------------------------------------*\
  #OTHER TEXT
\*------------------------------------*/

/* Ragna body */
p {
  @extend .text-montserrat; // använd alla egenskaper från klassen .text-montserrat

  color: $paragraph_color;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.875rem; /* 166.667% */
  word-break: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;

  // Mellanstorlek - upp till stora devices
  @media (max-width: $device_large) {
    font-size: 0.8rem;
    word-break: normal;
  }

}

.cv-duration-text{
  @extend .footer-text-bold;
  color:white;
}


/* Ragna footer rubrik */
.footer-text-bold {
  font-family: Montserrat;
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.5rem; /* 150% */
}

/* Ragna footer regular */
.footer-text-regular {
  font-family: Montserrat;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5rem; /* 150% */
}

/* Ragna citat */
.citat-text {
  font-family: Montserrat;
  font-size: 3rem;
  font-style: normal;
  font-weight: 400;
  line-height: 4.5rem; /* 150% */
}

.right-align {
  text-align: right;
}

.left-align {
  text-align: left;
}

/*------------------------------------*\
  #IMAGES
\*------------------------------------*/

.img-scale {
  max-width: 100%;
}

.logo {
  height: 2rem;
}

/*------------------------------------*\
  #PAGE HEADER
\*------------------------------------*/
.header {
  display: flex;
  flex-direction: column;
  background-color: $light_background_color;
  margin: 0;
}

.image_and_menu_container {
  display: flex;
  flex-direction: row;
}

.header_med_logo {
  display: flex;
  align-items: center;
  padding-left: 5rem;
  height: 3.75rem;
  background-color: $light_background_color;
}

/* Start-info för bild med text */
.header_bild_med_rubrik {
  position: relative;
  text-align: left;
  /* Ändra textjusteringen till vänster */
}

.header_image_text_small {
  position: relative;
  text-align: left;
  width: 100%;
  height: 30vw;
  /* Ändra textjusteringen till vänster */
}

/* Storlek på bild med text */
.headerbild_index {
  width: 100%;
  /* Anpassa bilden till bredden av behållaren */
}

/* Storlek på bild med text */
.header_image_small {
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* Anpassa bilden till bredden av behållaren */
}

/* Stil för rubrik på bild */
.rubriktext_index {
  position: absolute;
  text-align: right;
  /* Placera rubriken på bilden */
  top: 50%;
  /* Justera vertikalt till mitten */
  left: 10px;
  /* Centrera vertikalt */
  transform: translateY(-50%);
  /* Bakgrundsfärg med genomskinlighet */
  color: #fff;
  /* Textfärg */
  padding: 10px;
  /* Lägg till lite utrymme runt texten */
}

/* Stil för rubrik på bild */
.header_text_centered {
  position: absolute;
  text-align: center;
  /* Placera rubriken på bilden */
  top: 0%;
  /* Justera vertikalt till mitten */
  left: 50%;
  /* Centrera vertikalt */
  transform: translateX(-50%);
  /* Bakgrundsfärg med genomskinlighet */
  color: #fff;
  /* Textfärg */
  padding: 10px;
  /* Lägg till lite utrymme runt texten */
}

/*------------------------------------*\
  #NAV MENU
\*------------------------------------*/

.menu_box {
  align-items: start;
  justify-content: end;
  column-gap: 1rem;
  background-color: $light_background_color;
}

.menu {
  display: flex;
  justify-content: center;
  flex-shrink: 1;
  column-gap: 0.5rem;
  width: 2rem;
  //rotate: -90deg;
  transform: rotate(-90deg) translateX(-200%); // Rotera och flytta ned texten med 200% av dess egen höjd
  transform-origin: right bottom;
  //padding-left: 1rem;
  //padding-top: 1rem;
}

.menu a {
  font-family: Montserrat;
  color: var(--mrk-brun, #261109);
  text-align: center;
  font-size: 0.9375rem;
  font-style: normal;
  text-transform: uppercase;
  //font-weight: 0;
  line-height: normal;
  letter-spacing: -0.01406rem;
}

// Välj alla länkar (a) inne i nav-elementet
nav a {
  color: black;
  font-style: normal;
  text-decoration: none;
}

/*------------------------------------*\
  #PROJECTS
\*------------------------------------*/

.project_img {
  width: 75%;
  @media (min-width: $device_large) {
    width: auto;
    position: relative;
    left: 60%;
    transform: translateX(-50%);
  }
}

.project_button {
  @extend .text-montserrat; // använd alla egenskaper från klassen .text-montserrat
  border: none;
  background-color: transparent;
  padding: 0;
  color: $paragraph_color;
  text-decoration: underline;
}

/*------------------------------------*\
  #CV
\*------------------------------------*/

.img-scale {
  width: 100%;
  height: 100%;
  background-color: pink;
  box-shadow:
    0px 0px 0 0px #f9f9fb,
    0px 0 28px 0 rgba(34, 33, 81, 0.01),
    28px 28px 28px 0 rgba(34, 33, 81, 0.25);
  transition: border-radius 0.5s, transform 0.5s;
}
 
.img-scale:hover {
  border-radius: 50%; /* Turns the square into a circle on hover */
  transform: rotate(360deg); /* Rotates the element 360 degrees on hover */
}
 
.img-scale:hover {
  border-radius: 50%; /* Turns the square into a circle on hover */
  transform: rotate(360deg); /* Rotates the element 360 degrees on hover */
}

.hello_cv {
  @extend .text-croissant;

  color: $light_background_color;
  margin: 0;
  padding: 0;

  font-size: 40px;

  @media (min-width: $device_medium) {
    font-size: 81px;
  }

  @media (min-width: $device_large) {
    font-size: 221px;
  }
}

.body_cv {
  @extend body;

  background-color: $purple_background_color;
  color: $light_background_color;
}

.body_cv p {
  color: $light_background_color;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 166.667% */
}

.body_cv h3,
h4,
h5 {
  color: $light_background_color;
  font-size: 36px;
  line-height: normal;
  font-weight: normal;
}

.body_cv h5 {
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px; /* 150% */
}

.internship_header {
  margin: 0;
}

.internship_info {
  margin: 0;
  padding-left: 1rem;
}

/*------------------------------------*\
  #EDUCATION
\*------------------------------------*/

.body_education {
  @extend body;

  background-color: $green_background_color;
}


.body_education h3 {
  line-height: 50px; 
  margin: 0;
}


.body_education p {
  /* Ragna body */
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 166.667% */
}

/*------------------------------------*\
  #FOOTER
\*------------------------------------*/

.footer {
  color: black;
  background-color: $light_background_color;
  text-align: left;
}
