/**
 * CONTENTS:
 *
 * SETTINGS
 * 
 * GENERIC
 *
 * BODY
 * Headings.............H1–H6 styles.
 *
 * TEXT BASE
 *
 * HEADERS
 *
 * OTHER TEXT
 *
 * IMAGES
 *
 * PAGE HEADER
 * 
 * NAV MENU
 *
 * PROJECTS 
 *
 * CV 
 *
 * EDUCATION 
 *
 * FOOTER  
 *
 * VIDEO MODAL
 */

/*------------------------------------*\
  #SETTINGS
\*------------------------------------*/

$light_background_color: #f2f2f2;
$purple_background_color: #968fa6;
$green_background_color: #848c73;
$plint_background_color: #bfa83f;

$light_text_color: $light_background_color;
$header_color: black;
$paragraph_color: black;

$device_medium: 450px;
$device_large: 850px;

/*------------------------------------*\
  #GENERIC
\*------------------------------------*/

.grid-container-2-col {
  display: grid;
  grid-template-columns: 50% 50%;
  row-gap: 3rem;
  //background-color: red;
}

.col1 {
  grid-column-start: 1;
}

.col2 {
  grid-column-start: 2;
}

.row1 {
  grid-row-start: 1;
}

.col1-2 {
  grid-column-start: 1;
  grid-column-end: 3;
}

.row2 {
  grid-row-start: 2;
}

.row3 {
  grid-row-start: 3;
}

.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}

.flex-align-end {
  justify-content: end;
  align-content: flex-end;
}

.flex-center {
  justify-content: center;
  align-content: center;
}

.flex-align-self-center {
  align-self: center;
}

.flex-align-self-end {
  align-self: flex-end;
}

.padding-1 {
  padding: 1rem;
}

.center {
  // center image
  //display: block;
  margin-left: auto;
  margin-right: auto;
}

/*------------------------------------*\
  #BODY
\*------------------------------------*/

body {
  background-color: $light_background_color;
  padding: 0;
  margin: 0;
  margin-right: 24px;
}

section {
  margin-bottom: 20px;
  /* Justera detta värde enligt önskat avstånd */
  padding: 10px;
  /* Om du vill lägga till fyllnad inuti varje avsnitt */
}

/*------------------------------------*\
  #TEXT BASE
\*------------------------------------*/

// Basklass som används för all text med typsnittet Montserrat
.text-montserrat {
  font-family: Montserrat, Arial, sans-serif;
  font-weight: normal;
}

.text-croissant {
  font-family: croissant one, serif;
  font-weight: normal;
}

/*------------------------------------*\
  #HEADERS
\*------------------------------------*/

/* Ragna H1 */
h1 {
  @extend .text-croissant; // använd alla egenskaper från klassen .text-croissant
  color: $header_color;
  font-size: 5.1875rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  // Mellanstorlek - upp till stora devices
  @media (max-width: $device_large) {
    font-size: 40px;
    word-break: normal;
  }

  // Liten storlek - upp till medium-devices
  @media (max-width: $device_medium) {
    font-size: 30px;
    word-break: normal;
  }

  /*   // Om skärmbredden är mindre än 650 pixlar
  font-size: 30px;
  // Om skärmbredden är åtminstone 650 pixlar
  @media (min-width: $device_large) {
    // Sätt en mindre textstorlek så att texten får plats.
  font-size: 81px;
  } */
}

/* Ragna H2 */
h2 {
  @extend .text-croissant; // använd alla egenskaper från klassen .text-croissant
  color: $header_color;
  font-size: 4.0625rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  // Mellanstorlek - upp till stora devices
  @media (max-width: $device_large) {
    font-size: 1.5rem;
    word-break: normal;
  }
}

/* Ragna Rubrik Body */
h3 {
  @extend .text-montserrat; // använd alla egenskaper från klassen .text-montserrat
  color: $header_color;
  font-size: 2.25rem;
  font-style: normal;
  font-weight: 400;
  margin-bottom: 0;
  line-height: 3.125rem; /* 138.889% */

  // Mellanstorlek - upp till stora devices
  @media (max-width: $device_large) {
    font-size: 1.5rem;
    word-break: normal;
  }
}

/* Ragna Rubrik Footer */
h4 {
  @extend .text-montserrat; // använd alla egenskaper från klassen .text-montserrat
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.5rem; /* 150% */
}

/*------------------------------------*\
  #OTHER TEXT
\*------------------------------------*/

/* Ragna body */
p,
li {
  @extend .text-montserrat; // använd alla egenskaper från klassen .text-montserrat

  color: $paragraph_color;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.875rem; /* 166.667% */
  word-break: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;

  // Mellanstorlek - upp till stora devices
  @media (max-width: $device_large) {
    font-size: 0.8rem;
    word-break: normal;
  }
}

.cv-duration-text {
  @extend .footer-text-bold;
  color: $light_text_color;
}

/* Ragna footer rubrik */
.footer-text-bold {
  font-family: Montserrat;
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.5rem; /* 150% */
}

/* Ragna footer regular */
.footer-text-regular {
  font-family: Montserrat;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5rem; /* 150% */
}

/* Ragna citat */
.citat-text {
  font-family: Montserrat;
  font-size: 3rem;
  font-style: normal;
  font-weight: 400;
  line-height: 4.5rem; /* 150% */
}

.text-right-align {
  text-align: right;
}

.text-left-align {
  text-align: left;
}

/*------------------------------------*\
  #IMAGES
\*------------------------------------*/

.img-scale {
  max-width: 100%;
}

.logo {
  height: 2rem;
}

/*------------------------------------*\
  #PAGE HEADER
\*------------------------------------*/
.header {
  display: flex;
  flex-direction: column;
  background-color: $light_background_color;
  margin: 0;
}

.image_and_menu_container {
  display: flex;
  flex-direction: row;
}

.header_med_logo {
  display: flex;
  align-items: center;
  padding-left: 5rem;
  height: 3.75rem;
  background-color: $light_background_color;
}

/* Start-info för bild med text */
.header_bild_med_rubrik {
  position: relative;
  text-align: left;
  width: 100%;
  max-height: 700px;
  /* Ändra textjusteringen till vänster */
}

.header_image_text_small {
  position: relative;
  text-align: left;
  width: 100%;
  height: 30vw;
  /* Ändra textjusteringen till vänster */
}

/* Storlek på bild med text */
.headerbild_index {
  width: 100%;
  max-height: 700px;
  object-fit: cover;
  /* Anpassa bilden till bredden av behållaren */
}

/* Storlek på bild med text */
.header_image_small {
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* Anpassa bilden till bredden av behållaren */
}

/* Stil för rubrik på bild */
.rubriktext_index {
  position: absolute;
  text-align: right;
  /* Placera rubriken på bilden */
  top: 50%;
  /* Justera vertikalt till mitten */
  left: 10px;
  /* Centrera vertikalt */
  transform: translateY(-50%);
  /* Bakgrundsfärg med genomskinlighet */
  color: #fff;
  /* Textfärg */
  padding: 10px;
  /* Lägg till lite utrymme runt texten */
}

/* Stil för rubrik på bild */
.header_text_centered {
  position: absolute;
  text-align: center;
  /* Placera rubriken på bilden */
  top: 0%;
  /* Justera vertikalt till mitten */
  left: 50%;
  /* Centrera vertikalt */
  transform: translateX(-50%);
  /* Bakgrundsfärg med genomskinlighet */
  color: #fff;
  /* Textfärg */
  padding: 10px;
  /* Lägg till lite utrymme runt texten */
}

.header_text_right {
  position: absolute;
  text-align: center;
  /* Placera rubriken på bilden */
  top: 25%;
  /* Justera vertikalt till mitten */
  left: 50%;
  /* Centrera vertikalt */
  //transform: translateX(-50%);
  /* Bakgrundsfärg med genomskinlighet */
  color: #fff;
  /* Textfärg */
  padding: 10px;
  /* Lägg till lite utrymme runt texten */
}

/*------------------------------------*\
  #NAV MENU
\*------------------------------------*/

.menu_box {
  height: 100%;
  width: 24px;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #111;
  overflow-x: hidden;
  background-color: $light_background_color;
}

#menu {
  display: flex;
  gap: 10px;
  margin-top: 3.75rem;
  writing-mode: vertical-lr;
  transform: rotate(180deg) translateX(-25%);
}

#menu a {
  font-family: Montserrat;
  color: var(--mrk-brun, #261109);
  text-align: center;
  font-size: 0.9375rem;
  font-style: normal;
  text-transform: uppercase;
  line-height: normal;
  letter-spacing: -0.01406rem;
}

#menu a:hover {
  background-color: rgb(221, 221, 221);
}

.currentPage {
  // underline text
  text-decoration: underline;
  color: red;
}

// Välj alla länkar (a) inne i nav-elementet
nav a {
  color: black;
  font-style: normal;
  text-decoration: none;
}

/*------------------------------------*\
  #PROJECTS
\*------------------------------------*/

.project_img {
  width: 75%;
  @media (min-width: $device_large) {
    width: auto;
    position: relative;
    left: 60%;
    transform: translateX(-50%);
  }
}

.project_button {
  @extend .text-montserrat; // använd alla egenskaper från klassen .text-montserrat
  border: none;
  background-color: transparent;
  padding: 0;
  color: $paragraph_color;
  text-decoration: underline;
}

/*------------------------------------*\
  #CV
\*------------------------------------*/

.img-scale {
  width: 100%;
  height: 100%;
  background-color: pink;
  box-shadow: 0px 0px 0 0px #f9f9fb, 0px 0 28px 0 rgba(34, 33, 81, 0.01),
    28px 28px 28px 0 rgba(34, 33, 81, 0.25);
  transition: border-radius 0.5s, transform 0.5s;
}

.img-scale:hover {
  border-radius: 50%; /* Turns the square into a circle on hover */
  transform: rotate(360deg); /* Rotates the element 360 degrees on hover */
}

.img-scale:hover {
  border-radius: 50%; /* Turns the square into a circle on hover */
  transform: rotate(360deg); /* Rotates the element 360 degrees on hover */
}

.hello_cv {
  @extend .text-croissant;

  color: $light_background_color;
  margin: 0;
  padding: 0;

  font-size: 40px;

  @media (min-width: $device_medium) {
    font-size: 81px;
  }

  @media (min-width: $device_large) {
    font-size: 221px;
  }
}

.body_cv {
  @extend body;

  background-color: $purple_background_color;
  color: $light_background_color;
}

// Väljer alla p som ligger in i element med class="body_cv"
.body_cv p {
  color: $light_text_color;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 166.667% */
}

.body_cv {
  color: $light_background_color;
  font-size: 36px;
  line-height: normal;
  font-weight: normal;
}

.body_cv h3 {
  color: $light_background_color;
}

.body_cv h5 {
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px; /* 150% */
}

.internship_header {
  margin: 0;
}

.internship_info {
  margin: 0;
  padding-left: 1rem;
}

/*------------------------------------*\
  # PROJECTS - PINT
\*------------------------------------*/

.img_prj {
  border-radius: 6.997px;
  background: url(<path-to-image>), lightgray 50% / cover no-repeat;
  box-shadow: 0px 3.99805px 3.99805px 0px rgba(0, 0, 0, 0.25);
}

.body_plint {
  @extend body;

  background-color: $plint_background_color;
  color: black;
}

.body_plint h5 {
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px; /* 150% */
}

// Väljer alla p som ligger in i element med class="body_cv"
.body_plint p,
li {
  color: black;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 166.667% */
}

/*------------------------------------*\
  #EDUCATION
\*------------------------------------*/

.body_education {
  @extend body;

  background-color: $green_background_color;
}

/*------------------------------------*\
  #FOOTER
\*------------------------------------*/

.footer {
  color: black;
  background-color: $light_background_color;
  text-align: left;
}

/*------------------------------------*\
  #VIDEO MODAL
\*------------------------------------*/

#lvideo-wrap {
  position: fixed;

  padding: 12px;
  height: 100vh;
  display: flex;

  z-index: 9991;
  align-items: center;
  justify-content: center;

  opacity: 0;
  visibility: hidden;

  &,
  &:after,
  .lvideo-overlay {
    left: 0;
    top: 0;
    width: 100%;
    transition: all 0.3s ease-in-out;
    box-sizing: border-box;
  }

  &:after,
  .lvideo-overlay {
    height: 100%;
    position: absolute;
  }

  &:after {
    content: "";
    display: block;
    background-color: var(--primary-color);
    opacity: 0;
    z-index: -1;
  }

  .lvideo-container,
  video,
  iframe {
    border-radius: 12px;
    position: relative;
    box-sizing: border-box;
    background-color: #000;
  }

  .lvideo-container {
    width: 95%;
    z-index: 5;
  }

  video,
  iframe {
    z-index: 10;
    box-shadow: 0 0 19px rgba(0, 0, 0, 0.16);
    width: 100%;
    height: 100vh;
    max-height: 85vh;

    display: block;
  }

  video {
    object-fit: cover;
  }

  .lvideo-close {
    background-color: #fff;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 5%;
    top: 5%;
    width: 42px;
    height: 42px;
    border-radius: 100%;
    border: solid 2px var(--primary-color);
    padding: 0;
    transition: all 0.3s ease-in-out;
    z-index: 150;
    &:before,
    &:after {
      content: "";
      width: 60%;
      height: 3px;
      background-color: var(--primary-color);
      position: absolute;
      transition: all 0.3s ease-in-out;
    }
    &:before {
      transform: rotate(42deg);
    }
    &:after {
      transform: rotate(-42deg);
    }
    &:focus {
      outline: none;
    }

    &:hover {
      background-color: var(--primary-color);
      &:before,
      &:after {
        background-color: #fff;
      }
    }
  }

  &.active {
    opacity: 1;
    visibility: visible;

    &:after {
      opacity: 0.5;
    }
  }

  @media (max-width: 1659px) and (min-width: 1330px) {
    .lvideo-container {
      max-width: 978px;
    }
  }
  @media (min-width: 1660px) {
    .lvideo-container {
      max-width: 80%;
    }
  }
}

.btn-animated {
  width: 100px;
  height: 100px;
  margin-left: auto;
  margin-right: auto;
  background-color: #fff;
  border-radius: 100px;
  transition: all 0.3s ease;
  line-height: 100px;
  position: relative;
  padding: 0;
  cursor: pointer;
  border: 0;
  &:before,
  &:after {
    content: "";
    border: 1px solid;
    border-color: #fff;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 1;
    animation: 1s it-zoom linear infinite;
  }

  &:before {
    animation-delay: 0.5s;
  }

  &:hover {
    transform: scale(1.1);
  }
  i {
    display: block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 15px 0 15px 15px;
    border-color: transparent transparent transparent #333;
    margin: auto;
  }
}

@keyframes it-zoom {
  0% {
    transform: scale(1);
    opacity: 0.6;
  }
  100% {
    transform: scale(1.5);
    opacity: 0;
  }
}
